---
- hosts: all
  vars:
    base: "{{ inventory_dir }}"
    home: "{{ lookup('env', 'HOME') }}"
    user: "{{ lookup('env', 'USER') }}"

    taps:
      - caskroom/fonts
      - caskroom/versions
      - homebrew/science
      - railwaycat/homebrew-emacsmacport
    brews:
      android-sdk:
      ansible:
      apgdiff:
      aspell:
      bash-completion:
      colordiff:
      dtrx:
      emacs-mac: with-spacemacs-icon
      fasd:
      fontconfig: build-from-source
      fswatch:
      git:
      gnuplot: with-aquaterm, with-qt4
      hbase:
      httpie:
      jq:
      leiningen:
      macvim:
      memcached:
      mongodb:
      mysql:
      nvm:
      octave:
      phantomjs:
      postgresql:
      pow:
      pyenv:
      rbenv-gemset:
      rbenv:
      reattach-to-user-namespace:
      redis:
      rethinkdb:
      rlwrap:
      sleuthkit:
      the_silver_searcher:
      thrift:
      tmux:
      tree:
      vim:
      watch:
      watchman:
      wget:
      yarn:
    casks:
      - 1password
      - aquaterm
      - charles
      - disk-inventory-x
      - docker
      - dropbox
      - fabric
      - firefox
      - font-inconsolata-dz
      - genymotion
      - google-chrome
      - google-chrome-canary
      - google-cloud-sdk
      - iterm2-beta
      - java
      - microsoft-office
      - moom
      - ngrok
      - paw
      - postico
      - principle
      - react-native-debugger
      - robomongo
      - sketch
      - sketch-toolbox
      - skype
      - slack
      - spotify
      - spotify-notifications
      - ticktick
      - tunnelblick
      - virtualbox
      - vlc
      - wireshark
    login_items:
      - hbase
      - memcached
      - mongodb
      - mysql
      - postgresql
      - redis
      - rethinkdb

    directories:
      - .nvm
    files:
      agignore:
      bash_aliases:
      bash_profile:
      bashrc:
      bin: bin
      gitconfig:
      gitignore:
      inputrc:
      iterm2:
      profile:
      tmux.conf:
      vim:
      vimrc:
      gvimrc:
    visibility:
      Documents: hidden
      Movies: hidden
      Music: hidden
      Pictures: hidden
      Public: hidden
      bin: hidden
      src: hidden

    preferences:
      - defaults delete "com.apple.universalaccess" "UserAssignableHotKeys"
      - defaults write "Apple Global Domain" "AppleActionOnDoubleClick" -string "Minimize"
      - defaults write "Apple Global Domain" "AppleEnableSwipeNavigateWithScrolls" -bool false
      - defaults write "Apple Global Domain" "AppleICUForce24HourTime" -bool true
      - defaults write "Apple Global Domain" "AppleShowAllExtensions" -bool true
      - defaults write "Apple Global Domain" "AppleSpacesSwitchOnActivate" -bool false
      - defaults write "Apple Global Domain" "CGDisableCursorLocationMagnification" -bool true
      - defaults write "Apple Global Domain" "NSCloseAlwaysConfirmsChanges" -bool true
      - defaults write "Apple Global Domain" "NSNavPanelExpandedStateForSaveMode" -bool true
      - defaults write "Apple Global Domain" "NSTableViewDefaultSizeMode" -int 1
      - defaults write "Apple Global Domain" "NSUserDictionaryReplacementItems" "$(cat {{ base }}/preferences/replacement-items.plist)"
      - defaults write "Apple Global Domain" "NSUserKeyEquivalents" "$(cat {{ base }}/preferences/user-key-equivalents.plist)"
      - defaults write "Apple Global Domain" "PMPrintingExpandedStateForPrint" -bool true
      - defaults write "Apple Global Domain" "com.apple.sound.beep.feedback" -int 1
      - defaults write "Apple Global Domain" "com.apple.trackpad.scaling" -float 1
      - defaults write "Apple Global Domain" "userMenuExtraStyle" -int 2
      - defaults write "com.apple.AppleMultitouchTrackpad" "ActuationStrength" -int 0
      - defaults write "com.apple.AppleMultitouchTrackpad" "HIDScrollZoomModifierMask" -int 262144
      - defaults write "com.apple.AppleMultitouchTrackpad" "TrackpadThreeFingerHorizSwipeGesture" -int 1
      - defaults write "com.apple.Safari" "IncludeDevelopMenu" -bool true
      - defaults write "com.apple.Safari" "WebKitDeveloperExtrasEnabledPreferenceKey" -bool true
      - defaults write "com.apple.Safari" "com.apple.Safari.ContentPageGroupIdentifier.WebKit2DeveloperExtrasEnabled" -bool true
      - defaults write "com.apple.dock" "autohide" -bool true
      - defaults write "com.apple.dock" "largesize" -int 55
      - defaults write "com.apple.dock" "magnification" -bool true
      - defaults write "com.apple.dock" "mru-spaces" -bool false
      - defaults write "com.apple.dock" "orientation" -string "right"
      - defaults write "com.apple.dock" "persistent-apps" -array
      - defaults write "com.apple.dock" "showAppExposeGestureEnabled" -bool true
      - defaults write "com.apple.dock" "showLaunchpadGestureEnabled" -bool false
      - defaults write "com.apple.dock" "tilesize" -int 38
      - defaults write "com.apple.dock" "wvous-br-corner" -int 6
      - defaults write "com.apple.dock" "wvous-br-modifier" -int 0
      - defaults write "com.apple.dock" "wvous-br-modifier" -int 0
      - defaults write "com.apple.dock" "wvous-tr-corner" -int 5
      - defaults write "com.apple.driver.AppleBluetoothMultitouch.trackpad" "HIDScrollZoomModifierMask" -int 262144
      - defaults write "com.apple.driver.AppleBluetoothMultitouch.trackpad" "TrackpadThreeFingerHorizSwipeGesture" -int 1
      - defaults write "com.apple.finder" "FXDefaultSearchScope" -string "SCsp"
      - defaults write "com.apple.finder" "FXEnableExtensionChangeWarning" -bool false
      - defaults write "com.apple.finder" "FXPreferredViewStyle" -string "clmv"
      - defaults write "com.apple.finder" "NewWindowTarget" -string "PfHm"
      - defaults write "com.apple.finder" "NewWindowTargetPath" -string "file://{{ home }}"
      - defaults write "com.apple.finder" "ShowExternalHardDrivesOnDesktop" -bool false
      - defaults write "com.apple.finder" "ShowHardDrivesOnDesktop" -bool false
      - defaults write "com.apple.finder" "ShowPreviewPane" -bool false
      - defaults write "com.apple.finder" "ShowRecentTags" -bool false
      - defaults write "com.apple.finder" "ShowRemovableMediaOnDesktop" -bool false
      - defaults write "com.apple.finder" "ShowSidebar" -bool true
      - defaults write "com.apple.finder" QLEnableTextSelection -bool true
      - defaults write "com.apple.iCal" "TimeToLeaveEnabled" -bool false
      - defaults write "com.apple.iCal" "TimeZone support enabled" -bool true
      - defaults write "com.apple.iCal" "add holiday calendar" -bool false
      - defaults write "com.apple.iCal" "display birthdays calendar" -bool false
      - defaults write "com.apple.ichat" "kPromptEnableReadRecipts" -bool true
      - defaults write "com.apple.menuextra.clock" "DateFormat" -string "EEE MMM d  H:mm"
      - defaults write "com.apple.messageshelper.FavoritesController" "FaceTimeFavoritesDNDEnabled" -bool false
      - defaults write "com.apple.messageshelper.FavoritesController" "FaceTimeTwoTimeCallthroughEnabled" -bool true
      - defaults write "com.apple.screensaver" "askForPasswordDelay" -int 5
      - defaults write "com.apple.systempreferences" "NSQuitAlwaysKeepsWindows" -bool false
      - defaults write "com.apple.terminal" "Default Window Settings" -string "base16-tomorrow"
      - defaults write "com.apple.terminal" "Startup Window Settings" -string "base16-tomorrow"
      - defaults write "com.apple.terminal" "Window Settings" -dict-add "base16-tomorrow" "$(cat {{ base }}/preferences/base16-tomorrow.plist)"
      - defaults write "com.apple.universalaccess" "UserAssignableHotKeys" -bool false
      - defaults write "com.apple.universalaccess" "closeViewScrollWheelToggle" -bool true
      - defaults write "com.apple.universalaccess" "closeViewSmoothImages" -bool false
      - defaults write "com.googlecode.iterm2" LoadPrefsFromCustomFolder -bool true
      - defaults write "com.googlecode.iterm2" PrefsCustomFolder "{{ home }}/.iterm2"

  tasks:
    - include: tasks/homebrew.yml
    - include: tasks/files.yml
    - include: tasks/vim.yml
    - include: tasks/preferences.yml
      when: "{{ lookup('env', 'PREFS') != '0' }}"
